@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=BioRhyme:wght@200..800&display=swap');

body {
    background-color: rgb(90, 66, 82);
}

div.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1%;
}

button:hover {
    scale:102%;
}


button {
    width: 47%;
    height: 50px;
    margin: 10px;
    padding: auto;
    font-size:larger;
    font-family:'BioRhyme', serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: dimgray;
    border-radius: 5px;
    border-style: none;
    border-width: 3px;
}

div.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

video {
    display: block;
    max-width: 100%;
    max-height: 100%;  
}

h1 {
    font-size:xx-large;
    font-family:'Bevan', serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}